@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/humane");

html, body, #root {
  height: 100%;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}
